<form>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input 
      type="text" 
      class="form-control" 
      id="nome" 
      placeholder="Digite seu nome" 
      name="nome"  
      [(ngModel)]="nome"
      >
  </div>
  <div class="form-group">
    <label for="texto">Texto</label>
    <textarea 
      class="form-control"
      id="texto" 
      rows="3"
      name="texto"
      [(ngModel)]="texto"
      ></textarea>
  </div>
  <button (click)="submit($event, post)" class="btn btn-default">Enviar</button>
</form>
